include README.txt
include VERSION.txt
include MANIFEST.in

recursive-include docs *
prune docs/build

recursive-include repoze *

recursive-exclude unit_tests *
recursive-exclude functional_tests *

global-exclude *~ *.pyc *.egg .directory
